@import url('http://fonts.googleapis.com/css?family=Gabriela');

#pagewrapper {
	width: 100%;	
}

#header {
	width: 100%;
	height: 35%;
	background-color: #fcfcfc;
}

.headertop {
	width: 100%;
	height: 65%;
	text-align: center;
	padding-top: 40px;
}

.headertop p {
	text-align: center;	
	font-size: 17px;
	padding: 2px;
	font-family: 'Khula', serif;
	line-height: 25px;
}

.headertop h1 {
	font-family: 'Catamaran', serif;
	letter-spacing: 3px;
}

.headerbottom {
	height: 25%;
	border-left: 1px solid #e8e8e8;
	margin-left: 40px;
	padding-top: 10px;
}

.headerbottom p {
	font-size: 14px;
	font-family: 'Khula', serif;
	font-weight: bold;
}

.headerbottom li {
	padding: 3px;
	padding-left: 10px;
}

.headerbottom li i {
	color: #404040;
	padding-right: 10px;
	font-size: 25px;
}

.headerbottom a {
	text-decoration: none;
}

.button {
	margin-top: 15px;
	display: inline-block;
	border-radius: 5%;
	border: 1.5px solid #e8e8e8;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 2px;
	color: #333333;
	font-family: 'Catamaran', serif;
	padding: 8px 8px 8px 8px;

}

.button:hover {
	background-color: #e8e8e8;
	text-decoration: none;
}

.side {
	float: left;
	margin-right: 15px;
}

.twpic {
	width: 116px;
    height: 50px;
    margin-left: 40px;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.pic {
	max-width: 155px;
    max-height: 155px;
    margin-left: 75px;
    border: 1px solid #e8e8e8;
    padding: 5px;
}

#wrapper p {
	font-size: 18px;
	text-indent: 2em;
}

#wrapper h1 {
	font-size: 20px;
}

.fa:hover {
	color: #e8e8e8;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html { overflow-y: scroll; }

br { display: block; line-height: 1.6em; }
h1 { font-size: 28px; padding-bottom: 10px; font-family: 'Catamaran', serif; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

/** page structure **/
#wrapper {
	display: block;
	max-width: 900px;
	margin: auto;
	margin-top: 40px;
	font-family: 'Khula', serif;
}

#wrapper h1 {
	padding: 0px 0px 20px 40px;
}

#wrapper p {
	text-align: justify;
	line-height: 25px;
	padding-left: 40px;
	font-size: 17px;
}

#portfolio {
	display: block;
}

#portfolio li {
	display: block;
	float: left;
	width: 30%;
	max-width: 400px;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-bottom: 20px;
}

#portfolio li a {
	display: block;
	padding: 8px;
	background: #fcfcfc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
	box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}

.mfp-title {
	font-size: 18px;
	color: #ddd !important;
	font-weight: 900;
	font-family: 'Khula', serif;
}

.mfp-counter {
	font-family: 'Catamaran', serif;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/** media queries **/
@media screen and (max-width: 780px) {
	#portfolio li {
		width: 45%;
	}

	#pagewrapper {
		height: 100%;
	}

	#wrapper {
		padding: 10px;
	}

	.headertop {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 676px) {
	#portfolio { 
		text-align: center;
	}

	#portfolio li {
		float: none;
		display: inline-block;
		width: 80%;
		margin-bottom: 30px;
	}

	#pagewrapper {
		height: 100%;
	}

	#wrapper {
		padding: 10px;
	}

	.headertop {
		margin-bottom: 40px;
	}

	.side {
		float: none;
	}

}